body{
	font-family: 'Century Gothic', Calibri, serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}

header{
	height: 100px;
}

footer{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}

nav{
	width: 100%;
	background-color: #424558;
}

nav ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
	float: left;
}

nav a{
	text-decoration: none;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	color: #FFF;
	text-transform: uppercase;
	display: inline-block;
	font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
}

.menu-in:hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}

.menu-exp:hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}

.menu-loi:hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}

.menu-con:hover{
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}

nav li:hover a{
	padding: 15px 30px 20px 30px;
}

section{
	width: 100%;
	min-height: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sec{
	margin: 0px 10%;

}

.left{
	float: left;
	width: 30%;
}

.right{
	float: left;
	width: 70%;
}

.cleft, .cright, .sousleft, .sousright{
	width: 50%;
    float: left;
}

.sec::after, .exp::after{
	content: "";
	display: table;
	clear: both;
}

/*
@media screen and (max-width:680px){
	header{
		height: 50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;

	}
	nav{
		width: auto;
	}
	nav a{
		font-size: 12px;
		padding: 10px;
		margin: auto;
		display: flex;
		flex-direction: column;

	}
	
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}
nav a{
	font-size: 12px;
}
}*/